/* index.html */
body{
	padding-top: 110px;
	background-image: url("../../image/field.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.top-block{
	position: fixed;
	top: 10px;
	left: 1px;
	right: 1px;
	color: white;
	width: 100%;
	height: 100px;
	background: black;
	font-size: 60px;
	margin: auto;
	border-radius: 50px;
	padding: 1px;
}
.log-reg{
	margin: 1%;
	float: right;
	border-radius: 20px;
}
.ima{
	margin: 1%;
	float: left;
}
.top-block a:hover{
	opacity: 75%;
}
.top-block p{
	margin: 1%;
}
.exit{
	margin: 1%;
	border-radius: 25px;
	float: right;
}
.log-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	color: white;
	position: relative;
	z-index: 1;
	background-color: black;
	max-width: 360px;
	margin: 0 auto;
	padding: 45px;
	text-align: center;
	border-radius: 20px;
}
.form input{
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 20px;
}

.form button{
	text-transform: uppercase;
	outline: 0;
	background: #0000ff;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 15px;
	cursor: pointer;
	border-radius: 20px;
}

.form button:hover, .form button:active{
	background: yellow;
}

.ques{
	margin: 15px 0 0;
	font-size: 15px;
}

.ques a{
	color: #0000ff;
	text-decoration: none;
}
.ques a:hover{
	color: yellow;
}

.form .reg-form{
	display: none;
}

/* comment enter */

.message{
	width: 100%;
	height: 100px;
}

.form_mess{
	position: fixed;
	bottom: 10px;
	right: 10px;
	left: 10px;
	color: white;
	background: black;
	border-radius: 50px;
	padding: 1%;

}

.form_mess input{
	background: #f2f2f2;
	width: 80%;
	height: 60px;
	border: 0; 
	font-size: 14px;
	border-radius: 50px;
	float: left;
	padding: 0 3% 0 0;
}

.form_mess button{
	text-transform: uppercase;
	outline: 0;
	background: #0000ff;
	width: 17%;
	height: 60px;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 15px;
	cursor: pointer;
	border-radius: 50px;
}

.form_mess button:hover, .form button:active{
	background: yellow;
}

.hide{
	display: none;
}

/* comments */

.comment{
	background: white;
	border-radius: 50px;
	padding:  10px;
	margin: 5px;
}
.ava{
	margin: 10px;
	border-radius: 20px;
	margin: 10px;
	float: left;
}
.comment .name{
	margin: 5px;
	font-size: 50px;
}
.comment .time{
	font-size: 15px;
	margin:  0 10px 10px 10px;
}
.comment .mess{
	font-size: 20px;
	margin:  10px;
}

.answer{
	margin: 1.5%;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	float: right;
	border-radius: 10px;
	border: 0;
	background-image: url("../../image/answerhover.png");
	background-size: cover;
	background-position: center;
    cursor: pointer;
}
.answer:hover, .answer:active{
	opacity: 75%;
}

.ans{
	margin: 1%;
	float: left;
}